PyPDF2
streamlit
python-dotenv
langchain
langsmith
langchain-google-genai
google-generativeai
openai
langchain-openai
pillow
requests
audio-recorder-streamlit
pytesseract
pdf2image
pymupdf
concurrent-log-handler
feedparser
langgraph
tavily-python
pandas
langchain==0.1.17
langchain-core==0.1.52
langchain-google-genai==0.0.11
langchain-openai==0.1.7
langgraph==0.0.30
gTTS
grpcio==1.59.3
grpcio-tools==1.59.3
qdrant-client[rest]==1.9.1
sentence-transformers>=2.7.0